<div class="hero-unit">
    <h1>Thank you for ordering one of our specialty hoodies!</h1><br><br>
    <p>You should expect to receive your custom hoodie in about 6 weeks.</p>
</div>
<div class="center">
    <%= image_tag 'distance.jpg', :class => 'thumbnail', :width => "400" %>
    <p>Wait for your hoodie... patiently.</p>
</div>