/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require fancybox
 *= require_tree .
 */
tr{
	text-align:left;
}

ul li{
	color:red;
	list-style-type:none;
}

body{
	background-color: black;
}

light {
	color:grey;
	font-style:italic;
}

number{
	font-size:72px;
	line-height:55px;
	
}

.dollars{
	color:green;
}

.colors{
	height:25px;
	width:25px;
	float:left;
	margin:0 3px;
}

a:hover {
 cursor:pointer;
}

.hero-unit {
	background-image:url('/assets/light_noise_diagonal.png');
}

.btn-large {
	font-size:36px !important;
}

.brand {
	color:white !important;
}

.center {
	margin:0 auto;
	width:400px;
}