<footer class='footer container'>
    <div class='row'>
        <div class="span6">
            <p>&copy; Exec, Inc. 2012</p>
        </div>
        <div class="span6" style="text-align:right">
            <p>Created by <a href="http://dkan.github.com/">Damien Kan</a></p>
        </div>
    </div>
</footer>