<h1>Only <strong>1</strong> hoodie left!</h1><br>
<h2>We're only making a limited number of these hoodies, so get one before they're all snatched up!</h2>
<p><a class="btn btn-primary btn-large" href="/hoodies">Get yours now &raquo;</a></p>