<h1>Only <strong><%= ExecStore::Application::HOODIE_LIMIT - Order.all.count %></strong> hoodies left!</h1><br>
<h2>We are only selling a limited amount of these unique hoodies. Get one before they are all snatched up by someone more decisive.</h2>
<p><a class="btn btn-primary btn-large" href="/hoodies">Get yours now &raquo;</a></p>