<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="https://www.iamexec.com">EXEC.</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <%= render 'layouts/many_left' if ExecStore::Application::HOODIE_LIMIT - Order.count > 1%>
                    <%= render 'layouts/one_left' if ExecStore::Application::HOODIE_LIMIT - Order.count == 1%>
                    <%= render 'layouts/none_left' if ExecStore::Application::HOODIE_LIMIT - Order.count < 1%>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>